	#canvas_container, #c2 {
		text-align: center;  
		width: 1024px;
		border: 1px solid #aaa;
		border: 2px solid black;
		background-color: #eee;	 
	}
	a {
		text-decoration: none;
	}
	.connector {
		fill: silver;
		cursor:crosshair;
	}
	.repository_element {
		cursor: move;
	}
	text.label {
		cursor: move;
		color: white;
		font: 16px Times New Roman Bold;
	}
	.gear {
		cursor:pointer;
	}

	path.input {
		#cursor: crosshair;
	}

	path.output {
		cursor: crosshair;	
	}
	ul {
		list-style-type: none;
		padding-left: 10px;
		cursor: pointer;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	img {
		border:0px;
	}
	li span.selectedLI, a.selectedRepoNodes {
		border:1px solid #6B66FF;
		background-color: #BCBAFF;
		border-radius: 5px;
		line-height: 22px;
	}
	li span {
		border: 1px solid white;
		background-color: white;
		border-radius: 5px;
		line-height: 22px;
	}