	#canvas_container, #c2 {
		text-align: center;  
		width: 1024px;
		border: 1px solid #aaa;
		border: 2px solid black;
		background-color: #eee;	 
	}
	a {
		text-decoration: none;
	}
	.connector {
		fill: silver;
		cursor:crosshair;
	}
	.repository_element {
		cursor: move;
	}
	text.label {
		cursor: move;
		color: white;
		font: 16px Times New Roman Bold;
	}
	.gear {
		cursor:pointer;
	}
	.clickable{
		cursor: pointer;
	}
	.textfield{
		width: 135px;
		height: 17px;
	}
	path.input {
		#cursor: crosshair;
	}

	path.output {
		cursor: crosshair;	
	}

	.logButton {
		/*unselect*/
		-moz-user-select: none;
   		-khtml-user-select: none;
   		user-select: none;
   		/*css przycisku*/
		display: inline-block;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		background: #fafafa;
		font: 14px/100% Arial, Helvetica, sans-serif;
		padding: .15em .15em .15em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: .5em; 
		-moz-border-radius: .5em;
		border-radius: .5em;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
		box-shadow: 0 1px 2px rgba(0,0,0,.4);
	}
	.logButton:hover {
		text-decoration: none;
	}
	.logButton:active {
		position: relative;
		top: 1px;
	}

	ul {
		list-style-type: none;
		padding-left: 10px;
		cursor: pointer;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	img {
		border:0px;
	}
	li span.selectedLI, a.selectedRepoNodes {
		border:1px solid #6B66FF;
		background-color: #BCBAFF;
		border-radius: 5px;
		line-height: 22px;
	}
	li span {
		border: 1px solid white;
		background-color: white;
		border-radius: 5px;
		line-height: 22px;
	}